* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  min-height: 100vh;
  background-image: url("./assets/background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 0;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

header > img {
  max-width: 250px;
  margin: 0 auto;
}

#valentina-e-ana {
  display: flex;
  gap: 5em;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

#valentina-e-ana > img {
  width: 250px;
}

#valentina-e-ana > img:nth-child(3) {
  width: 220px;
}

.comercial-icon {
  font-size: x-large;
  color: #da6ea0;
  font-weight: 700;
  text-shadow: 0.075em 0.075em 0.9em #161616;
}

.container-text {
  display: flex;
  margin: 0 auto;
  width: 60%;
  flex-direction: column;
  padding: 4em;
  gap: 0.2em;
  background-color: #ffffffae;
  text-align: center;
  color: #922f47;
  align-items: center;
  justify-content: center;
  border-radius: 25rem;
  font-size: 25px;
}

.space-item {
  padding: 1em;
}

.container-links {
  display: flex;
  gap: 1.2em;
  padding: 2em;
  flex-direction: column;
}

#link-presenca,
#link-mapa {
  display: flex;
  width: 350px;
  margin: 0 auto;
  gap: 2em;
  border-radius: 16px;
  text-align: center;
  background: #fefefe;
  padding: 0.4em;
  border: 1px dashed #da6ea0;
  justify-content: center;
}

.comercial {
  max-width: 30px;
}

#link-presenca > a,
#link-mapa > a {
  text-decoration: none;
  color: rgb(92, 92, 92);
  transition: 0.2s all linear;
}

#link-presenca > a:hover,
#link-mapa > a:hover {
  transition: all 0.4s linear;
  transform: scale(1.1);
  color: #da6ea0;
  background: #f9f9f9;
}
.data-hora {
  color: #da6ea0;
  display: flex;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: Georgia, Times New Roman, Times, "serif";
  gap: 13rem;
  flex-wrap: wrap;
  text-shadow: 1px 1.1px 3px #161616;
}

#data,
#horario {
  display: flex;
  gap: 0.1rem;
  flex-direction: column;
}

#data > span {
  font-size: 5rem;
  font-weight: bold;
}

#horario > span {
  font-size: 5rem;
  font-weight: bold;
}
@media (max-width: 800px) {
  .space-item {
    display: none;
  }

  .data-hora {
    width: 100%;
    gap: 6rem;
    margin: 0 auto;
    padding: 0.6em;
  }

  #data,
  #horario {
  }

  .container-text {
    padding: 1em;

    border-radius: 20%;
    box-shadow: 0.25em 0.25em 0.5em rgba(255, 255, 255, 0.377);
  }

  #valentina-e-ana {
    flex-direction: column;
  }

  body {
    background-size: 100%;
    background-position: center bottom;
  }
}
